$primary-bgColor: #5c4964;
$secondary-bgColor: #f5f0e7;
$primary-font-color: #fbf9f8;
$secondary-font-color:#3a3632;
$link-active-color: #f0cc71;
$input-submit-color: white;
$mask-color: rgba(94, 87, 64, 0.5);
/* shadow */
$shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

$font-weight: 500;
$font: Arial, Helvetica, sans-serif;
// $nav-font-size: 2rem;
$breakpoint: 768px;